<h1>Edit Constellation</h1>
<div class="editstar">
<form action="/users/{{user._id}}/stars/{{star._id}}?_method=PUT" method="POST">
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" name="name" value="{{star.name}}"/>
  </div>
  <div>
    <label for="description">
      Description
    </label>
    <input type="text" name="description" value="{{star.description}}"/>
  </div>
  <div>
    <label for="best_viewed">
      Best Viewed
    </label>
    <input type="text" name="best_viewed" value="{{star.best_viewed}}"/>
  </div>
<div>
    <label for="image">
      Image
    </label>
    <input type="text" name="image" value="{{star.image}}"/>
  </div>
  <div>
    <input type="submit" value="Edit/Update Constellation"/>
  </div>
  </form>
</form>
</div>
