<h1>{{user.email}}'s Profile</h1>

<div class="starindex">

  <table style="width: 100%">
  {{#each stars}}
    <tr>
      <th><a href="/users/{{../user.id}}/stars/{{this.id}}">{{this.name}}</a></th>
      <th>{{this.description}}</th>
      <th>{{#if this.image}} <img src="{{this.image}}" alt = "{{this.name}}"/> {{/if}}<th>
      <th>{{this.best_viewed}}</th>
     </tr>
    </table>
      <a href="/users/{{../user.id}}/stars/{{this.id}}/edit">{{this.name}}</a>
    <div>
        <form method="POST" action="/users/{{../user.id}}/stars/{{this.id}}?_method=DELETE">
          <button type="submit" value="DELETE" class="btn btn-danger" />Delete</button>
        </form>
    </div>
    </li>
    <br/>

  {{/each}}
</ul>
        <br>
        <a href="/users/{{user.id}}/stars/new">New Constellation</a>
        <br>
        <a href="/users/{{user.id}}/edit">Edit Account</a>
        <br>
        <a href="/users">Main Page</a>
<div>
    <!-- <form method="post" action="/star?_method=DELETE">
    </form> -->
</div>
</div>
