<h1>{{user.email}}'s Profile</h1>

<div class="starindex">

<ul>
  {{#each stars}}
    <li>{{this.name}}</li>
    <li><a href="/users/{{../user.id}}/stars/{{this.id}}">{{this.description}}</a></li>
    <br/>
    <li>
      <a href="/users/{{../user.id}}/stars/{{this.id}}">{{this.name}}</a>
      <a href="/users/{{../user.id}}/stars/{{this.id}}/edit">(edit)</a>

      <div>
        <form method="POST" action="/users/{{../user.id}}/stars/{{this.id}}?_method=DELETE">
          <button type="submit" value="DELETE" class="btn btn-danger" />Delete</button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>
        <a href="/users/{{user.id}}/stars/show">Your Constellation</a>
        <br>
        <a href="/users/{{user.id}}/stars/new">New Constellation</a>
        <br>
        <a href="/users/{{user.id}}/stars/edit">Edit/Update Constellation</a>
        <br>
        <a href="/users/{{user.id}}/edit">Edit Account</a>
        <br>
        <a href="/users">Main Page</a>
<div>
    <form method="post" action="/star?_method=DELETE">
    </form>
</div>
</div>
