<h1>Individual Constellation</h1>
<div class="usersShow">
<ol class ="showInfo">
  <li>{{star.name}}</li>
  <li>{{star.description}}</li>
  <li>{{star.best_viewed}}</li>
  <li></li>
</ol>
 <div class="editOneStar">
      <form action="/users/{{user.id}}/stars/{{star.id}}/edit">
      <button type="submit" value="edit">Edit</button>
      </form>
    </div>
</div>
