<h1>Description: {{star.description}}</h1>

<div class="usersIndex">
<h2>Name: {{star.name}}</h2>


<form action="/users/{{user.id}}/star/{{star.id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete star"/>
</form>
<a href="/users/{{user.id}}/star/{{star.id}}stars/edit">Edit Constellation</a>
<ol>
    {{#each stars}}
  <div class="thisStar">
    <li id="starname">{{this.name}}</li>
    <li><img src="{{this.img}}"></li>
</div>
    {{/each}}
</ol>
  <a href="users/{[user:id}}show" class="btn btn-default">Profile</a>
</div>
