
<div class="usersIndex">
<ol>
  <li>{{star.name}}</li>
  <li>{{star.description}}</li>
  <li>{{star.image}}</li>
  <li>{{star.best_viewed}}</li>
  <li></li>
</ol>
<a href="/users/{{user.id}}/stars/{{star.id}}/edit">Edit</a>
</div>
