<h1>Edit {{user.name}} account info</h1>

<div class="editrow">
    <form action="/users/{{user.id}}?_method=PUT" method="POST" class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{user.email}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" value="{{user.password}}" class="form-control">
        <div>
            <input type="submit" value="Edit/Update Account Info"/>
        </div>
        </div>
    </form>
    <form method="POST" action="/users/{{../user.id}}?_method=DELETE">
  <button type="submit" value="DELETE" class="btn btn-danger" />Delete Account</button>
</form>
</div>
