<!-- {{#if currentUser}}
  <h4>welcome {{currentUser.email}}</h4>
{{/if}}

{{#each users}}
  <ul>
    <li>
    <li>{{this.id}}</li>
    <li>{{this.email}}</li>
  </ul>
{{/each}}
 -->
<h1>Constellations</h1>

<div class="usersIndex">
<ol>
    {{#each stars}}
  <div class="thisStar">
    <li id="starname">{{this.name}}</li>
<!--     <li><img src="{{this.img}}"></li> -->
<!--     <li><h1><a href="/users/{{this.id}}"></h1></a><li> -->
<!--     <br>
    <li>{{this.description}}</li>
    <br>
    <li>Best viewed in {{this.best_viewed}}</li> -->
</div>
    {{/each}}
</ol>
<a href="/users/{{user._id}}edit" class="btn btn-default">User Profile</a>
<br>
<a href="/users/star/new" class="btn btn-default">Create a New Star</a>
</div>
