<h1>User Profile</h1>
<div class = "show">
<ul>
  <li>name: {{user.name}}</li>
  <li>stars:{{user.stars}}
  <li>email: {{user.email}}</li>
  <li>created_at: {{user.created_at}}</li>
</ul>
<a href="/users/{{user._id}}edit" class="btn btn-default">User Profile</a>
<br>
<a href="/users/star/new" class="btn btn-default">Create a New Star</a>

<h1>Description: {{star.description}}</h1>
<h1>Name: {{star.name}}</h1>
<a href="/users/{{user.id}}/star/{{star.id}}edit">Edit Constellation</a>
<form action="/users/{{user.id}}/star/{{star.id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete star"/>
</form>
</div>
