<h1>{{author.fullName}}</h1>
<h3>{{author.country}}</h3>
<p>{{author.book_title}}, {{author.publication_year}}</p>
<div>
    <a href="/authors/{{author.id}}/edit" class="btn btn-primary">Edit {{author.fullName}}</a>
</div>
<div>
    <a href="/authors/{{author.id}}/edit" class="btn btn-primary">Edit {{author.fullName}}</a>
</div>
<a href="/authors" class="btn btn-default">Main Page</a>
